<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CRApp</title>
</head>
<body>
    <h1 style="text-align: center; font-size:60px; padding: 60px;">CRApp</h1>
    <h2>Student</h2>
    <h3> {{ error }} </h3>
    <form method="post">
        {% csrf_token %}
        <p>Name: <input type="text" name="tag_name"></p>
        <p><input type="submit" name="search" value="search"></p>

        {% if student_tag_names %}

        <table class="table">
            <thead>
                <tr>
                    <th> Name </th>
                    <th> Remove </th>
                </tr>
            </thead>
            <tbody>
            {% for i in student_tag_names %} 
            <tr>
                <td> {{i}} </td>
                <td> <input type='checkbox' value='{{i}}' name='delete_list'></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        {% endif %}

        {% if tag_names %}

        <table class="table">
            <thead>
                <tr>
                    <th> Name </th>
                    <th> Add </th>
                </tr>
            </thead>
            <tbody>
            {% for i in tag_names %} 
            <tr>
                <td> {{i}} </td>
                <td> <input type='checkbox' value='{{i}}' name='add_list'></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        {% endif %}
        <p><input type="submit" name="update" value="update"></p>
    </form>
</body>
</html>