<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CRApp</title>
</head>
<body>
    <h1 style="text-align: center; font-size:60px; padding: 60px;">CRApp</h1>
    <h2>Course</h2>
    <h3> {{ error }} </h3>
    <form method="post">
        {% csrf_token %}
        <p>Course Name: <input type="text" name="course_name"></p>
        <p>Dept Name: <input type="text" name="dept_name"></p>
        <p>Credits: <input type="text" name="credits"></p>
        <p><input type="submit" name="add" value="add"></p>
        <p><input type="submit" name="search" value="search"></p>

        {% if course_names %}

        <table class="table">
            <thead>
                <tr>
                    <th> Name </th>
                    <th> Course name </th>
                    <th> Dept</th>
                    <th> Credits </th>
                    <th> Update </th>
                    <th> Delete </th>
                    <th> Tags</th>
                </tr>
            </thead>
            <tbody>
            {% for i in course_names %} 
            <tr>
                <td> {{i.0}} </td>
                <td> <input type="text" value='{{i.0}}' name='updated_course_names' required> </td>
                <td> <input type="text" value='{{i.1}}' name='updated_dept_names'> </td>
                <td> <input type="text" value='{{i.2}}' name='updated_credits'> </td>
                <td> <input type='checkbox' value='{{forloop.counter0}}:{{i.0}}' name='update_list'></td>
                <td> <input type='checkbox' value='{{i.0}}' name='delete_list'></td>
                <td> <a href='/admin/course_tags/?course_id={{i.3}}'> Modify tags </a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        {% endif %}
        <p><input type="submit" name="update" value="update"></p>
    </form>
</body>
</html>