<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CRApp</title>
</head>
<body>
    <h1 style="text-align: center; font-size:60px; padding: 60px;">CRApp</h1>
    <h2>Instructor</h2>
    <h3> {{ error }} </h3>
    <form method="post">
        {% csrf_token %}
        <p>Roll Num: <input type="text" name="roll_num"></p>
        <p>Instr Name: <input type="text" name="instr_name"></p>
        <p>Dept Name: <input type="text" name="dept_name"></p>
        <p><input type="submit" name="add" value="add"></p>
        <p><input type="submit" name="search" value="search"></p>

        {% if instr_names %}

        <table class="table">
            <thead>
                <tr>
                    <th> Roll Number </th>
                    <th> Roll Number </th>
                    <th> Name </th>
                    <th> Dept</th>
                    <th> Update </th>
                    <th> Delete </th>
                </tr>
            </thead>
            <tbody>
            {% for i in instr_names %} 
            <tr>
                <td> {{i.0}} </td>
                <td> <input type="text" value='{{i.0}}' name='updated_roll_nums' required> </td>
                <td> <input type="text" value='{{i.1}}' name='updated_instr_names'> </td>
                <td> <input type="text" value='{{i.2}}' name='updated_dept_names'> </td>
                <td> <input type='checkbox' value='{{forloop.counter0}}:{{i.0}}' name='update_list'></td>
                <td> <input type='checkbox' value='{{i.0}}' name='delete_list'></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        {% endif %}
        <p><input type="submit" name="update" value="update"></p>
    </form>
</body>
</html>