<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CRApp</title>
</head>
<body>
    <h1 style="text-align: center; font-size:60px; padding: 60px;">CRApp</h1>
    <h2>Timeslot</h2>
    <h3> {{ error }} </h3>
    <form method="post">
        {% csrf_token %}
        <p>Timeslot: <input type="text" name="time_slot_id"></p>
        <p>Day: <input type="text" name="day"></p>
        <p>Start time: <input type="time" name="start_time"></p>
        <p>End time: <input type="time" name="end_time"></p>
        <p><input type="submit" name="add" value="add"></p>
        <p><input type="submit" name="search" value="search"></p>

        {% if timeslot_names %}

        <table class="table">
            <thead>
                <tr>
                    <th> Timeslot </th>
                    <th> Day </th>
                    <th> Start time </th>
                    <th> End time </th>
                    <th> Update </th>
                    <th> Delete </th>
                </tr>
            </thead>
            <tbody>
            {% for i in timeslot_names %} 
            <tr>
                <td> <input type="text" value='{{i.0}}' name='updated_time_slot_ids' required> </td>
                <td> <input type="text" value='{{i.1}}' name='updated_days' required> </td>
                <td> <input type="time" value='{{i.2}}' name='updated_start_times' required> </td>
                <td> <input type="time" value='{{i.3}}' name='updated_end_times' required> </td>
                <td> <input type='checkbox' value='{{forloop.counter0}}:{{i}}' name='update_list'></td>
                <td> <input type='checkbox' value='{{i}}' name='delete_list'></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        {% endif %}
        <p><input type="submit" name="update" value="update"></p>
    </form>
</body>
</html>